# Caddyfile for VeryResto WFH Attendance & HR Monitoring System

# 1. Employee WFH Application
absen.veryresto.com {
    reverse_proxy employee-web:80
}

# 2. HR Admin Monitoring Application
absen-admin.veryresto.com {
    reverse_proxy admin-web:80
}

# 3. Backend REST API & WebSockets Gateway
absen-api.veryresto.com {
    reverse_proxy api:3000
}
